<section class="band icon-grid <%= bgColor %> <%= theme %>">
	<div class="wrap">
		<% if defined?(header) %>
		<h3><%= header %></h3>
		<% end %>

		<% if defined?(intro) %>
		<p class="intro"><%= intro %></p>
		<% end %>

		<div class="grid <%= gridWidth %>">
			<% if defined?(grid1Img) %>
			<div class="icon-wrap">
				<img src="<%= grid1Img %>" class="icon" />
				<% if defined?(grid1Label) %><h4><%= grid1Label %></h4><% end %>
				<% if defined?(grid1Copy) %><p class="icon-copy"><%= grid1Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid2Img) %>
			<div class="icon-wrap">
				<img src="<%= grid2Img %>" class="icon" />
				<% if defined?(grid2Label) %><h4><%= grid2Label %></h4><% end %>
				<% if defined?(grid2Copy) %><p class="icon-copy"><%= grid2Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid3Img) %>
			<div class="icon-wrap">
				<img src="<%= grid3Img %>" class="icon" />
				<% if defined?(grid3Label) %><h4><%= grid3Label %></h4><% end %>
				<% if defined?(grid3Copy) %><p class="icon-copy"><%= grid3Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid4Img) %>
			<div class="icon-wrap">
				<img src="<%= grid4Img %>" class="icon" />
				<% if defined?(grid4Label) %><h4><%= grid4Label %></h4><% end %>
				<% if defined?(grid4Copy) %><p class="icon-copy"><%= grid4Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid5Img) %>
			<div class="icon-wrap">
				<img src="<%= grid5Img %>" class="icon" />
				<% if defined?(grid5Label) %><h4><%= grid5Label %></h4><% end %>
				<% if defined?(grid5Copy) %><p class="icon-copy"><%= grid5Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid6Img) %>
			<div class="icon-wrap">
				<img src="<%= grid6Img %>" class="icon" />
				<% if defined?(grid6Label) %><h4><%= grid6Label %></h4><% end %>
				<% if defined?(grid6Copy) %><p class="icon-copy"><%= grid6Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid7Img) %>
			<div class="icon-wrap">
				<img src="<%= grid7Img %>" class="icon" />
				<% if defined?(grid7Label) %><h4><%= grid7Label %></h4><% end %>
				<% if defined?(grid7Copy) %><p class="icon-copy"><%= grid7Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid8Img) %>
			<div class="icon-wrap">
				<img src="<%= grid8Img %>" class="icon" />
				<% if defined?(grid8Label) %><h4><%= grid8Label %></h4><% end %>
				<% if defined?(grid8Copy) %><p class="icon-copy"><%= grid8Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid9Img) %>
			<div class="icon-wrap">
				<img src="<%= grid9Img %>" class="icon" />
				<% if defined?(grid9Label) %><h4><%= grid9Label %></h4><% end %>
				<% if defined?(grid9Copy) %><p class="icon-copy"><%= grid9Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid10Img) %>
			<div class="icon-wrap">
				<img src="<%= grid10Img %>" class="icon" />
				<% if defined?(grid10Label) %><h4><%= grid10Label %></h4><% end %>
				<% if defined?(grid10Copy) %><p class="icon-copy"><%= grid10Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid11Img) %>
			<div class="icon-wrap">
				<img src="<%= grid11Img %>" class="icon" />
				<% if defined?(grid11Label) %><h4><%= grid11Label %></h4><% end %>
				<% if defined?(grid11Copy) %><p class="icon-copy"><%= grid11Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid12Img) %>
			<div class="icon-wrap">
				<img src="<%= grid12Img %>" class="icon" />
				<% if defined?(grid12Label) %><h4><%= grid12Label %></h4><% end %>
				<% if defined?(grid12Copy) %><p class="icon-copy"><%= grid12Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid13Img) %>
			<div class="icon-wrap">
				<img src="<%= grid13Img %>" class="icon" />
				<% if defined?(grid13Label) %><h4><%= grid13Label %></h4><% end %>
				<% if defined?(grid13Copy) %><p class="icon-copy"><%= grid13Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid14Img) %>
			<div class="icon-wrap">
				<img src="<%= grid14Img %>" class="icon" />
				<% if defined?(grid14Label) %><h4><%= grid14Label %></h4><% end %>
				<% if defined?(grid14Copy) %><p class="icon-copy"><%= grid14Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid15Img) %>
			<div class="icon-wrap">
				<img src="<%= grid15Img %>" class="icon" />
				<% if defined?(grid15Label) %><h4><%= grid15Label %></h4><% end %>
				<% if defined?(grid15Copy) %><p class="icon-copy"><%= grid15Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid16Img) %>
			<div class="icon-wrap">
				<img src="<%= grid16Img %>" class="icon" />
				<% if defined?(grid16Label) %><h4><%= grid16Label %></h4><% end %>
				<% if defined?(grid16Copy) %><p class="icon-copy"><%= grid16Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid17Img) %>
			<div class="icon-wrap">
				<img src="<%= grid17Img %>" class="icon" />
				<% if defined?(grid17Label) %><h4><%= grid17Label %></h4><% end %>
				<% if defined?(grid17Copy) %><p class="icon-copy"><%= grid17Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid18Img) %>
			<div class="icon-wrap">
				<img src="<%= grid18Img %>" class="icon" />
				<% if defined?(grid18Label) %><h4><%= grid18Label %></h4><% end %>
				<% if defined?(grid18Copy) %><p class="icon-copy"><%= grid18Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid19Img) %>
			<div class="icon-wrap">
				<img src="<%= grid19Img %>" class="icon" />
				<% if defined?(grid19Label) %><h4><%= grid19Label %></h4><% end %>
				<% if defined?(grid19Copy) %><p class="icon-copy"><%= grid19Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid20Img) %>
			<div class="icon-wrap">
				<img src="<%= grid20Img %>" class="icon" />
				<% if defined?(grid20Label) %><h4><%= grid20Label %></h4><% end %>
				<% if defined?(grid20Copy) %><p class="icon-copy"><%= grid20Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid21Img) %>
			<div class="icon-wrap">
				<img src="<%= grid21Img %>" class="icon" />
				<% if defined?(grid21Label) %><h4><%= grid21Label %></h4><% end %>
				<% if defined?(grid21Copy) %><p class="icon-copy"><%= grid21Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid22Img) %>
			<div class="icon-wrap">
				<img src="<%= grid22Img %>" class="icon" />
				<% if defined?(grid22Label) %><h4><%= grid22Label %></h4><% end %>
				<% if defined?(grid22Copy) %><p class="icon-copy"><%= grid22Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid23Img) %>
			<div class="icon-wrap">
				<img src="<%= grid23Img %>" class="icon" />
				<% if defined?(grid23Label) %><h4><%= grid23Label %></h4><% end %>
				<% if defined?(grid23Copy) %><p class="icon-copy"><%= grid23Copy %></p><% end %>
			</div>
			<% end %>

			<% if defined?(grid24Img) %>
			<div class="icon-wrap">
				<img src="<%= grid24Img %>" class="icon" />
				<% if defined?(grid24Label) %><h4><%= grid24Label %></h4><% end %>
				<% if defined?(grid24Copy) %><p class="icon-copy"><%= grid24Copy %></p><% end %>
			</div>
			<% end %>
		</div>

		<% if defined?(btnLabel) %>
		<div class='btn'>
			<a href="<%= btnLink %>" target="<%= btnTarget %>"><span><%= btnLabel %></span></a>
		</div>
		<% end %>
	</div>

	<div class="wedgebox"></div>
</section>